/* * {
    margin: 0;
    font-family: sans-serif;
}

table {
    width: 400px;
    height: auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.grey {
    background-color: lightgray;
}

thead th {
    background-color: black;
    color: #fff
}

tfoot tr {
    background-color: black;
    color: #fff
} */

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 12px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}