:root {
    --Color-CinA: grey;
    --Color-CHnN: darkblue;
    --Color-Border: Black;
    --Color-aside: #333;
}

nav {
    background-color: var(--Color-CHnN);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--Color-CHnN);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--Color-Border);
    padding: 2px;
    box-shadow: 0 0 30px var(--Color-CinA);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--Color-Border);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(var(--Color-Border)/ 0.2);
    padding: 1rem;
    background-color: var(--Color-CinA);
    color: var(--Color-aside);
    text-align: center;
}