:root {
    --general-color: darkblue;
    --inverse-monument: #c3c3c3;
    --inverse-w: white;
    --inverse-b: black;
    --inverse-border-g: grey;
}

body {
    background-color: var(--inverse-w, black);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--inverse-border-g, white);
    padding: 1rem;
    background-color: var(--inverse-monument, rgb(105, 43, 105));
    color: var(--inverse-b, white);
    text-align: center;
}

aside img {
    width: 300px;
    height: auto;
}

nav {
    background-color: var(--general-color, skyblue);
    padding: 10px;
}

nav a {
    color: var(--inverse-w, black);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--general-color, skyblue);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--inverse-b, white);
    padding: 2px;
    box-shadow: 0 0 30px var(--inverse-border-g, white);
}

p {
    color: var(--inverse-b, white);
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--inverse-b, white);
    text-align: center;
}