header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #333;
}

main {
    width: 400px;
    margin: 0 auto;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #c5c6d0;
    font-size: 0.9rem;
}

section p {
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: .9rem;
    padding: 5px;
}